BOT_TOKEN=123456789:YOUR_BOT_TOKEN
ADMIN_ID=123456789

CARD_NUMBER=8600000000000000
CARD_OWNER=ISM FAMILIYA

WEB_URL=https://YOUR-RENDER-URL.onrender.com

START_BONUS=2000
REF_BONUS=500

TTS_PRICE=0.3
STT_PRICE=5

MAX_TTS=3000
MAX_STT_SECONDS=120

MIN_TOPUP=1000

BOT_ON=1
PORT=10000
